<html>
<body style="margin: 0; font-family: sans-serif; padding-left: 1cm; padding-top: 0; padding-right: 0.5cm; padding-bottom: 0;">
<table style="width:100%">
    <tbody>
    <tr>
        <td style="text-align: left"><img src="logo.png" style="width: 20%"/></td>
        <td>&nbsp;</td>
    </tr>
    </tbody>
</table>
<table style="width:100%">
    <tbody>
    <tr>
        <td style="text-align:right; color: #69000C; font-size: 24px; font-weight: bold; padding-top: 10px; padding-bottom: 20px;">
            CERTIFICATE OF AUTHENTICITY
        </td>
    </tr>
    </tbody>
</table>
<table style="width:100%">
    <tbody>
    <tr>
        <td>
            This document certifies that the artist declares the piece of Artwork titled below
            with <b>WORLD ART REGISTRY ID NUMBER ${value.id}</b> to be an authentic, original and
            unique piece of art of her / his own creation efforts and executed by her / him, the
            undersigned.
        </td>
    </tr>
    <tr>
        <td style="padding-top: 10px;">
            The artist retains all copyright. Artwork may not be reproduced without the artist's consent.
        </td>
    </tr>
    <tr>
        <td style="text-align: center; padding-top: 20px; padding-bottom: 20px;">
            <div  style="height: 200px"><img style="height: 200px" src="${value.pict.imgFrontHref}"/></div>
        </td>
    </tr>
    </tbody>
</table>
<table style="width:100%">
    <tbody>
    <tr>
        <td style="font-weight: bold; padding-right: 30px; padding-top: 10px;  vertical-align: top; width:10%;">Artist:</td>
        <td style="width: 90%; font-style: italic; padding-top: 10px;  vertical-align: top;">${value.pict.author}</td>
    </tr>
    <tr>
        <td style="font-weight: bold; padding-right: 30px; padding-top: 10px; vertical-align: top;">Title:</td>
        <td style="font-style: italic; padding-top: 10px;  vertical-align: top;">${value.name}</td>
    </tr>
    <tr>
        <td style="font-weight: bold; padding-right: 30px; padding-top: 10px; vertical-align: top;">Year&nbsp;of&nbsp;completion:</td>
        <td style="font-style: italic; padding-top: 10px;  vertical-align: top;">${value.pict.dateCreate}</td>
    </tr>
    <tr>
        <td style="font-weight: bold; padding-right: 30px; padding-top: 10px; vertical-align: top;">Medium:</td>
        <td style="font-style: italic; padding-top: 10px;  vertical-align: top;">${value.pict.concept}</td>
    </tr>
    <tr>
        <td style="font-weight: bold; padding-right: 30px; padding-top: 10px; vertical-align: top;">Edition:</td>
        <td style="font-style: italic; padding-top: 10px;  vertical-align: top;">Edition details, if applicable</td>
    </tr>
    <tr>
        <td style="font-weight: bold; padding-right: 30px; padding-top: 10px; vertical-align: top;">Original&nbsp;/&nbsp;Reproduction:</td>
        <td style="font-style: italic; padding-top: 10px;  vertical-align: top;">specify whether original or reproduction</td>
    </tr>
    <tr>
        <td style="font-weight: bold; padding-right: 30px; padding-top: 10px; vertical-align: top;">Special&nbsp;instructions:</td>
        <td style="font-style: italic; padding-top: 10px;  vertical-align: top;">any special instructions regarding the condition of the work, installation instructions, etc).</td>
    </tr>
    </tbody>
</table>
<table style="width:100%">
    <tbody>
    <tr>
        <td style="padding-top: 20px">
            All information and statements contained herein are true and correct.
        </td>
    </tr>
    </tbody>
</table>
<table style="width:100%">
    <tbody>
    <tr>
        <td style="padding-top: 20px;">Signature of Artist</td>
        <td style="padding-top: 20px; text-align: right; padding-right: 40px;"> Place and Date</td>
    </tr>
    </tbody>
</table>
</body>
</html>